/* src/styles/index.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --accent: #2563eb;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}
#root {
  height: 100%;
}
